body {
  background-color: #2e2e2e;
  color: #e1e1e1; }

ul li {
  list-style: none; }
  ul li a {
    color: #e1e1e1; }

#degrees rect {
  fill: steelblue;
  stroke: #2e2e2e; }
#degrees text {
  fill: #e1e1e1; }

#info-panel li {
  padding: 0 0 4px 0; }
