$text-color: #e1e1e1;
$background: #2e2e2e;
$spring-green: #00ee76;

body {
  background-color: $background;
  color: $text-color;
}

#wrap {
  margin-top: 30px;
}

#subtitle {
  color: #999999;
}

ul li {
  list-style: none;
  a {
    color: $text-color;
  }
}

#degrees{
  rect {
    fill: $spring-green;
    stroke: $background;
  }
  text {
    fill: $text-color;
  }
}

#info-panel {
  li {
    padding: 0 0 4px 0;
  }
}


