$text-color: #e1e1e1;
$background: #2e2e2e;

body {
  background-color: $background;
  color: $text-color;
}

#wrap {
  width: 100%;
}

ul li {
  list-style: none;
  a {
    color: $text-color;
  }
}

#degrees{
  rect {
    fill: steelblue;
    stroke: $background;
  }
  text {
    fill: $text-color;
  }
}

